<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<title>To-Do List</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>To-Do List</h1>

<form action="/add" method="POST">

<input
type="text"
name="title"
placeholder="Nova tarefa"
required>

<button type="submit">

Adicionar

</button>

</form>

<hr>

<ul>

{% for tarefa in tarefas %}

<li>

{% if tarefa.completed %}

<s>{{ tarefa.title }}</s>

{% else %}

{{ tarefa.title }}

{% endif %}

<a href="/complete/{{ tarefa.id }}">

✔

</a>

<a href="/delete/{{ tarefa.id }}">

🗑

</a>

</li>

{% else %}

<li>

Nenhuma tarefa cadastrada.

</li>

{% endfor %}

</ul>

</body>

</html>